In [275]:
import pandas as pd

## 处理jester_ratings.dat

In [277]:

jester_file_2='/Users/dong/Desktop/BoostingFM-IJCAI18/dataset/jester_dataset_2/jester_ratings.dat'
org_data=pd.read_table(jester_file,names=['user','vald1','item','vlad2','rating'])
del org_data['vald1']
del org_data['vlad2']
users=org_data['user'].drop_duplicates()
items=org_data['item'].drop_duplicates()
print 'users={0}'.format(len(users))
print 'items={0}'.format(len(items))
org_data.describe()

users=59132
items=140

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>user</th>
      <th>item</th>
      <th>rating</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>1.761439e+06</td>
      <td>1.761439e+06</td>
      <td>1.761439e+06</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>3.272322e+04</td>
      <td>7.071133e+01</td>
      <td>1.618602e+00</td>
    </tr>
    <tr>
      <th>std</th>
      <td>1.828011e+04</td>
      <td>4.600790e+01</td>
      <td>5.302608e+00</td>
    </tr>
    <tr>
      <th>min</th>
      <td>1.000000e+00</td>
      <td>5.000000e+00</td>
      <td>-1.000000e+01</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>1.720200e+04</td>
      <td>2.100000e+01</td>
      <td>-2.031000e+00</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>3.480800e+04</td>
      <td>6.900000e+01</td>
      <td>2.219000e+00</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>4.730600e+04</td>
      <td>1.120000e+02</td>
      <td>5.719000e+00</td>
    </tr>
    <tr>
      <th>max</th>
      <td>6.397800e+04</td>
      <td>1.500000e+02</td>
      <td>1.000000e+01</td>
    </tr>
  </tbody>
</table>
</div>

In [278]:
lt1=len(org_data[org_data['rating']>1]) #1047673
lt3=len(org_data[org_data['rating']>3]) 
lt5=len(org_data[org_data['rating']>5]) 
print lt1*1./total,lt3*1./total,lt5*1./total

0.59478244776 0.438956444135 0.294790793209

In [279]:
group_by_user=org_data.groupby('user').count()

In [280]:
items_gt_10=group_by_user[group_by_user['item']>10]
items_gt_30=group_by_user[group_by_user['item']>30]
items_gt_50=group_by_user[group_by_user['item']>50]
items_gt_100=group_by_user[group_by_user['item']>100]

In [281]:
print len(items_gt_10), len(items_gt_30),len(items_gt_50),len(items_gt_100)

39047 17610 10291 4206

# 
1. 从item大于50的用户中随机选取1000个
2. 挑选出这1000个用户的数据
3. 按照user排序，将这1000个用户的

In [189]:
all_users_id=items_gt_50.index.values
print len(all_users_id)

10291

In [283]:
idx=range(len(all_users_id))
np.random.shuffle(idx)
target_users_1000=items_gt_50.index.values[idx][:1000]
# print idx

In [284]:
df_list=[]
for user in target_users_1000:
    temp=org_data[org_data['user']==user]
    df_list.append(temp)
final_result_df  = pd.concat(df_list,ignore_index=True)

In [285]:
final_result_df=final_result_df.sort_values(by=['user'])
new_user_id=range(1000)
old_user_id=np.sort(target_users_1000)
replace_dic={}
for new_id,old_id in zip(new_user_id,old_user_id):
    replace_dic[old_id] = new_id
new_user_id=final_result_df['user'].replace(replace_dic) 
final_result_df['user']=new_user_id

In [249]:
final_result_df.to_csv('final_result_df.csv',index=False,sep='|',header=False)

In [286]:

positive=final_result_df[final_result_df['rating']>=5] # 28466
positive.to_csv('rating_gth_5.csv',index=False,sep='|',header=False)
# positive=positive.sample(frac=1)

In [290]:

train_data=[]
test_data=[] 
user_count=0
replace_dict={}
for u in range(1000):
    temp=positive[positive['user']==u]
    count=len(temp)
    if count < 10:
        continue
    user_count+=1
    replace_dict[u]=user_count
    tr_num=int(np.ceil(0.8*count))
    train_data.append(temp[:tr_num])
    test_data.append(temp[tr_num:])

In [291]:
train_50_5_data=pd.concat(train_data)
test_50_5_data=pd.concat(test_data)

In [303]:
temp_train_rp=train_50_5_data['user'].replace(replace_dict)
temp_test_rp=test_50_5_data['user'].replace(replace_dict)
train_50_5_data['user'] = temp_train_rp
test_50_5_data['user']  = temp_test_rp

In [306]:
train_50_5_data.to_csv('train_50_5_data.dat',sep='|',index=None,header=None)
test_50_5_data.to_csv('test_50_5_data.dat',sep='|',index=None,header=None)

In [308]:
train_len=len(train_50_5_data)
test_len=len(test_50_5_data)
temp_rating_tr=pd.Series(np.array([1.]*train_len))
temp_rating_tes=pd.Series(np.array([1.]*test_len))

train_50_5_data['user']=temp_rating_tr
temp_rating_tes['user']=temp_rating_tes

In [314]:
org_data.describe()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>user</th>
      <th>item</th>
      <th>rating</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>1.761439e+06</td>
      <td>1.761439e+06</td>
      <td>1.761439e+06</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>3.272322e+04</td>
      <td>7.071133e+01</td>
      <td>1.618602e+00</td>
    </tr>
    <tr>
      <th>std</th>
      <td>1.828011e+04</td>
      <td>4.600790e+01</td>
      <td>5.302608e+00</td>
    </tr>
    <tr>
      <th>min</th>
      <td>1.000000e+00</td>
      <td>5.000000e+00</td>
      <td>-1.000000e+01</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>1.720200e+04</td>
      <td>2.100000e+01</td>
      <td>-2.031000e+00</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>3.480800e+04</td>
      <td>6.900000e+01</td>
      <td>2.219000e+00</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>4.730600e+04</td>
      <td>1.120000e+02</td>
      <td>5.719000e+00</td>
    </tr>
    <tr>
      <th>max</th>
      <td>6.397800e+04</td>
      <td>1.500000e+02</td>
      <td>1.000000e+01</td>
    </tr>
  </tbody>
</table>
</div>

In [315]:
test_50_5_data.describe()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>user</th>
      <th>item</th>
      <th>rating</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>5159.000000</td>
      <td>5159.000000</td>
      <td>5159.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>364.446211</td>
      <td>86.753441</td>
      <td>7.595926</td>
    </tr>
    <tr>
      <th>std</th>
      <td>208.660589</td>
      <td>39.147959</td>
      <td>1.550232</td>
    </tr>
    <tr>
      <th>min</th>
      <td>1.000000</td>
      <td>5.000000</td>
      <td>5.000000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>178.000000</td>
      <td>53.000000</td>
      <td>6.219000</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>371.000000</td>
      <td>91.000000</td>
      <td>7.562000</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>555.500000</td>
      <td>120.000000</td>
      <td>9.031000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>702.000000</td>
      <td>150.000000</td>
      <td>10.000000</td>
    </tr>
  </tbody>
</table>
</div>

In [ ]:
train_50_5_data.to_csv('train_50_5_data_0_1_coo.dat',sep='\t',index=None,header=None)
test_50_5_data.to_csv('test_50_5_data_0_1_coo.dat',sep='\t',index=None,header=None)

In [259]:
train_50_5_data

TypeError: 'int' object has no attribute '__getitem__'

In [172]:
final_result_df.sort_values(by=['user'])

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>user</th>
      <th>item</th>
      <th>rating</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1131736</th>
      <td>0</td>
      <td>31</td>
      <td>8.781</td>
    </tr>
    <tr>
      <th>1131749</th>
      <td>0</td>
      <td>68</td>
      <td>-0.125</td>
    </tr>
    <tr>
      <th>1131750</th>
      <td>0</td>
      <td>81</td>
      <td>0.125</td>
    </tr>
    <tr>
      <th>1131751</th>
      <td>0</td>
      <td>61</td>
      <td>0.031</td>
    </tr>
    <tr>
      <th>1131752</th>
      <td>0</td>
      <td>26</td>
      <td>0.031</td>
    </tr>
    <tr>
      <th>1131753</th>
      <td>0</td>
      <td>92</td>
      <td>3.625</td>
    </tr>
    <tr>
      <th>1131754</th>
      <td>0</td>
      <td>118</td>
      <td>0.000</td>
    </tr>
    <tr>
      <th>1131755</th>
      <td>0</td>
      <td>134</td>
      <td>3.344</td>
    </tr>
    <tr>
      <th>1131717</th>
      <td>0</td>
      <td>108</td>
      <td>5.688</td>
    </tr>
    <tr>
      <th>1131716</th>
      <td>0</td>
      <td>107</td>
      <td>2.031</td>
    </tr>
    <tr>
      <th>1131715</th>
      <td>0</td>
      <td>106</td>
      <td>-0.156</td>
    </tr>
    <tr>
      <th>1131714</th>
      <td>0</td>
      <td>105</td>
      <td>2.000</td>
    </tr>
    <tr>
      <th>1131748</th>
      <td>0</td>
      <td>52</td>
      <td>0.062</td>
    </tr>
    <tr>
      <th>1131713</th>
      <td>0</td>
      <td>104</td>
      <td>2.938</td>
    </tr>
    <tr>
      <th>1131711</th>
      <td>0</td>
      <td>102</td>
      <td>0.750</td>
    </tr>
    <tr>
      <th>1131710</th>
      <td>0</td>
      <td>50</td>
      <td>9.906</td>
    </tr>
    <tr>
      <th>1131709</th>
      <td>0</td>
      <td>89</td>
      <td>9.812</td>
    </tr>
    <tr>
      <th>1131708</th>
      <td>0</td>
      <td>25</td>
      <td>-7.469</td>
    </tr>
    <tr>
      <th>1131707</th>
      <td>0</td>
      <td>24</td>
      <td>-7.906</td>
    </tr>
    <tr>
      <th>1131706</th>
      <td>0</td>
      <td>23</td>
      <td>-8.531</td>
    </tr>
    <tr>
      <th>1131705</th>
      <td>0</td>
      <td>22</td>
      <td>-8.781</td>
    </tr>
    <tr>
      <th>1131704</th>
      <td>0</td>
      <td>21</td>
      <td>-7.188</td>
    </tr>
    <tr>
      <th>1131703</th>
      <td>0</td>
      <td>20</td>
      <td>-9.156</td>
    </tr>
    <tr>
      <th>1131702</th>
      <td>0</td>
      <td>19</td>
      <td>-8.719</td>
    </tr>
    <tr>
      <th>1131701</th>
      <td>0</td>
      <td>18</td>
      <td>-7.469</td>
    </tr>
    <tr>
      <th>1131712</th>
      <td>0</td>
      <td>103</td>
      <td>-5.000</td>
    </tr>
    <tr>
      <th>1131700</th>
      <td>0</td>
      <td>17</td>
      <td>-9.031</td>
    </tr>
    <tr>
      <th>1131747</th>
      <td>0</td>
      <td>51</td>
      <td>0.062</td>
    </tr>
    <tr>
      <th>1131745</th>
      <td>0</td>
      <td>62</td>
      <td>0.219</td>
    </tr>
    <tr>
      <th>1131721</th>
      <td>0</td>
      <td>76</td>
      <td>9.312</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>437931</th>
      <td>63978</td>
      <td>104</td>
      <td>7.156</td>
    </tr>
    <tr>
      <th>437937</th>
      <td>63978</td>
      <td>114</td>
      <td>4.625</td>
    </tr>
    <tr>
      <th>437930</th>
      <td>63978</td>
      <td>19</td>
      <td>-1.812</td>
    </tr>
    <tr>
      <th>437928</th>
      <td>63978</td>
      <td>17</td>
      <td>-6.375</td>
    </tr>
    <tr>
      <th>437927</th>
      <td>63978</td>
      <td>16</td>
      <td>-6.375</td>
    </tr>
    <tr>
      <th>437926</th>
      <td>63978</td>
      <td>15</td>
      <td>-6.375</td>
    </tr>
    <tr>
      <th>437925</th>
      <td>63978</td>
      <td>13</td>
      <td>-7.594</td>
    </tr>
    <tr>
      <th>437924</th>
      <td>63978</td>
      <td>8</td>
      <td>-7.594</td>
    </tr>
    <tr>
      <th>437923</th>
      <td>63978</td>
      <td>7</td>
      <td>-7.906</td>
    </tr>
    <tr>
      <th>437929</th>
      <td>63978</td>
      <td>18</td>
      <td>-6.375</td>
    </tr>
    <tr>
      <th>437938</th>
      <td>63978</td>
      <td>47</td>
      <td>7.156</td>
    </tr>
    <tr>
      <th>437939</th>
      <td>63978</td>
      <td>76</td>
      <td>7.125</td>
    </tr>
    <tr>
      <th>437940</th>
      <td>63978</td>
      <td>35</td>
      <td>6.938</td>
    </tr>
    <tr>
      <th>437956</th>
      <td>63978</td>
      <td>62</td>
      <td>8.188</td>
    </tr>
    <tr>
      <th>437955</th>
      <td>63978</td>
      <td>63</td>
      <td>8.250</td>
    </tr>
    <tr>
      <th>437954</th>
      <td>63978</td>
      <td>68</td>
      <td>8.594</td>
    </tr>
    <tr>
      <th>437952</th>
      <td>63978</td>
      <td>143</td>
      <td>8.906</td>
    </tr>
    <tr>
      <th>437951</th>
      <td>63978</td>
      <td>145</td>
      <td>8.375</td>
    </tr>
    <tr>
      <th>437950</th>
      <td>63978</td>
      <td>69</td>
      <td>8.250</td>
    </tr>
    <tr>
      <th>437949</th>
      <td>63978</td>
      <td>66</td>
      <td>8.250</td>
    </tr>
    <tr>
      <th>437948</th>
      <td>63978</td>
      <td>72</td>
      <td>8.594</td>
    </tr>
    <tr>
      <th>437947</th>
      <td>63978</td>
      <td>128</td>
      <td>7.469</td>
    </tr>
    <tr>
      <th>437946</th>
      <td>63978</td>
      <td>108</td>
      <td>7.438</td>
    </tr>
    <tr>
      <th>437945</th>
      <td>63978</td>
      <td>117</td>
      <td>7.594</td>
    </tr>
    <tr>
      <th>437944</th>
      <td>63978</td>
      <td>134</td>
      <td>6.562</td>
    </tr>
    <tr>
      <th>437943</th>
      <td>63978</td>
      <td>53</td>
      <td>6.719</td>
    </tr>
    <tr>
      <th>437942</th>
      <td>63978</td>
      <td>129</td>
      <td>6.875</td>
    </tr>
    <tr>
      <th>437941</th>
      <td>63978</td>
      <td>105</td>
      <td>6.938</td>
    </tr>
    <tr>
      <th>437958</th>
      <td>63978</td>
      <td>97</td>
      <td>8.344</td>
    </tr>
    <tr>
      <th>438013</th>
      <td>63978</td>
      <td>39</td>
      <td>9.156</td>
    </tr>
  </tbody>
</table>
<p>1223370 rows × 3 columns</p>
</div>

In [143]:

target_uses_id = pd.concat()



np.sum(target_users_1000)-np.sum(items_gt_50.index.values[:100])

30930589

array([40978,  3250, 47484, ...,  7521, 23342, 35439])

In [160]:
len(items_gt_50)

10291

In [125]:
final_result_df.sort_values(by=['user']) 
final_result_df.to_csv('final_result_df_org_u1000_i140.dat',index=False)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>user</th>
      <th>item</th>
      <th>rating</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>37180</th>
      <td>16</td>
      <td>68</td>
      <td>-9.438</td>
    </tr>
    <tr>
      <th>37134</th>
      <td>16</td>
      <td>16</td>
      <td>-8.938</td>
    </tr>
    <tr>
      <th>37133</th>
      <td>16</td>
      <td>15</td>
      <td>-9.938</td>
    </tr>
    <tr>
      <th>37132</th>
      <td>16</td>
      <td>13</td>
      <td>-9.906</td>
    </tr>
    <tr>
      <th>37131</th>
      <td>16</td>
      <td>8</td>
      <td>1.562</td>
    </tr>
    <tr>
      <th>37130</th>
      <td>16</td>
      <td>7</td>
      <td>-9.938</td>
    </tr>
    <tr>
      <th>37129</th>
      <td>16</td>
      <td>5</td>
      <td>0.469</td>
    </tr>
    <tr>
      <th>37179</th>
      <td>16</td>
      <td>56</td>
      <td>-9.906</td>
    </tr>
    <tr>
      <th>37165</th>
      <td>16</td>
      <td>31</td>
      <td>9.938</td>
    </tr>
    <tr>
      <th>37166</th>
      <td>16</td>
      <td>89</td>
      <td>1.312</td>
    </tr>
    <tr>
      <th>37167</th>
      <td>16</td>
      <td>42</td>
      <td>-5.375</td>
    </tr>
    <tr>
      <th>37168</th>
      <td>16</td>
      <td>49</td>
      <td>2.844</td>
    </tr>
    <tr>
      <th>37169</th>
      <td>16</td>
      <td>34</td>
      <td>5.531</td>
    </tr>
    <tr>
      <th>37170</th>
      <td>16</td>
      <td>46</td>
      <td>-10.000</td>
    </tr>
    <tr>
      <th>37137</th>
      <td>16</td>
      <td>19</td>
      <td>-9.875</td>
    </tr>
    <tr>
      <th>37172</th>
      <td>16</td>
      <td>26</td>
      <td>-9.688</td>
    </tr>
    <tr>
      <th>37173</th>
      <td>16</td>
      <td>98</td>
      <td>2.656</td>
    </tr>
    <tr>
      <th>37174</th>
      <td>16</td>
      <td>39</td>
      <td>-10.000</td>
    </tr>
    <tr>
      <th>37201</th>
      <td>16</td>
      <td>85</td>
      <td>-7.812</td>
    </tr>
    <tr>
      <th>37200</th>
      <td>16</td>
      <td>45</td>
      <td>-9.250</td>
    </tr>
    <tr>
      <th>37199</th>
      <td>16</td>
      <td>28</td>
      <td>2.531</td>
    </tr>
    <tr>
      <th>37198</th>
      <td>16</td>
      <td>38</td>
      <td>-5.188</td>
    </tr>
    <tr>
      <th>37197</th>
      <td>16</td>
      <td>47</td>
      <td>-8.969</td>
    </tr>
    <tr>
      <th>37196</th>
      <td>16</td>
      <td>75</td>
      <td>8.094</td>
    </tr>
    <tr>
      <th>37135</th>
      <td>16</td>
      <td>17</td>
      <td>4.562</td>
    </tr>
    <tr>
      <th>37164</th>
      <td>16</td>
      <td>54</td>
      <td>-0.188</td>
    </tr>
    <tr>
      <th>37163</th>
      <td>16</td>
      <td>101</td>
      <td>-9.875</td>
    </tr>
    <tr>
      <th>37162</th>
      <td>16</td>
      <td>32</td>
      <td>9.938</td>
    </tr>
    <tr>
      <th>37138</th>
      <td>16</td>
      <td>20</td>
      <td>-9.938</td>
    </tr>
    <tr>
      <th>37139</th>
      <td>16</td>
      <td>112</td>
      <td>-9.594</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>44170</th>
      <td>63695</td>
      <td>18</td>
      <td>9.938</td>
    </tr>
    <tr>
      <th>44169</th>
      <td>63695</td>
      <td>17</td>
      <td>9.938</td>
    </tr>
    <tr>
      <th>44168</th>
      <td>63695</td>
      <td>16</td>
      <td>9.938</td>
    </tr>
    <tr>
      <th>44167</th>
      <td>63695</td>
      <td>15</td>
      <td>8.062</td>
    </tr>
    <tr>
      <th>44166</th>
      <td>63695</td>
      <td>13</td>
      <td>9.938</td>
    </tr>
    <tr>
      <th>44185</th>
      <td>63695</td>
      <td>89</td>
      <td>9.375</td>
    </tr>
    <tr>
      <th>44209</th>
      <td>63695</td>
      <td>150</td>
      <td>9.938</td>
    </tr>
    <tr>
      <th>44186</th>
      <td>63695</td>
      <td>48</td>
      <td>9.969</td>
    </tr>
    <tr>
      <th>44188</th>
      <td>63695</td>
      <td>129</td>
      <td>9.938</td>
    </tr>
    <tr>
      <th>44207</th>
      <td>63695</td>
      <td>107</td>
      <td>9.875</td>
    </tr>
    <tr>
      <th>44206</th>
      <td>63695</td>
      <td>69</td>
      <td>9.906</td>
    </tr>
    <tr>
      <th>44205</th>
      <td>63695</td>
      <td>130</td>
      <td>9.969</td>
    </tr>
    <tr>
      <th>44204</th>
      <td>63695</td>
      <td>72</td>
      <td>0.344</td>
    </tr>
    <tr>
      <th>44203</th>
      <td>63695</td>
      <td>84</td>
      <td>-9.844</td>
    </tr>
    <tr>
      <th>44202</th>
      <td>63695</td>
      <td>39</td>
      <td>-9.812</td>
    </tr>
    <tr>
      <th>44201</th>
      <td>63695</td>
      <td>147</td>
      <td>9.906</td>
    </tr>
    <tr>
      <th>44200</th>
      <td>63695</td>
      <td>94</td>
      <td>9.906</td>
    </tr>
    <tr>
      <th>44199</th>
      <td>63695</td>
      <td>99</td>
      <td>9.938</td>
    </tr>
    <tr>
      <th>44198</th>
      <td>63695</td>
      <td>132</td>
      <td>9.969</td>
    </tr>
    <tr>
      <th>44197</th>
      <td>63695</td>
      <td>110</td>
      <td>9.969</td>
    </tr>
    <tr>
      <th>44196</th>
      <td>63695</td>
      <td>56</td>
      <td>9.844</td>
    </tr>
    <tr>
      <th>44195</th>
      <td>63695</td>
      <td>63</td>
      <td>9.938</td>
    </tr>
    <tr>
      <th>44194</th>
      <td>63695</td>
      <td>53</td>
      <td>9.938</td>
    </tr>
    <tr>
      <th>44193</th>
      <td>63695</td>
      <td>134</td>
      <td>9.875</td>
    </tr>
    <tr>
      <th>44192</th>
      <td>63695</td>
      <td>112</td>
      <td>9.938</td>
    </tr>
    <tr>
      <th>44191</th>
      <td>63695</td>
      <td>62</td>
      <td>9.906</td>
    </tr>
    <tr>
      <th>44190</th>
      <td>63695</td>
      <td>96</td>
      <td>9.906</td>
    </tr>
    <tr>
      <th>44189</th>
      <td>63695</td>
      <td>118</td>
      <td>9.938</td>
    </tr>
    <tr>
      <th>44187</th>
      <td>63695</td>
      <td>105</td>
      <td>9.938</td>
    </tr>
    <tr>
      <th>44246</th>
      <td>63695</td>
      <td>46</td>
      <td>9.906</td>
    </tr>
  </tbody>
</table>
<p>92282 rows × 3 columns</p>
</div>

In [115]:
for user in target_uses_id:
    temp=org_data[org_data['user']==user]

array([    1,     5,     8, ..., 63949, 63950, 63978])

ValueError: Lengths must match to compare

In [100]:
org_data[:60]

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>user</th>
      <th>item</th>
      <th>rating</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>5</td>
      <td>0.219</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>7</td>
      <td>-9.281</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>8</td>
      <td>-9.281</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>13</td>
      <td>-6.781</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>15</td>
      <td>0.875</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1</td>
      <td>16</td>
      <td>-9.656</td>
    </tr>
    <tr>
      <th>6</th>
      <td>1</td>
      <td>17</td>
      <td>-9.031</td>
    </tr>
    <tr>
      <th>7</th>
      <td>1</td>
      <td>18</td>
      <td>-7.469</td>
    </tr>
    <tr>
      <th>8</th>
      <td>1</td>
      <td>19</td>
      <td>-8.719</td>
    </tr>
    <tr>
      <th>9</th>
      <td>1</td>
      <td>20</td>
      <td>-9.156</td>
    </tr>
    <tr>
      <th>10</th>
      <td>1</td>
      <td>21</td>
      <td>-7.188</td>
    </tr>
    <tr>
      <th>11</th>
      <td>1</td>
      <td>22</td>
      <td>-8.781</td>
    </tr>
    <tr>
      <th>12</th>
      <td>1</td>
      <td>23</td>
      <td>-8.531</td>
    </tr>
    <tr>
      <th>13</th>
      <td>1</td>
      <td>24</td>
      <td>-7.906</td>
    </tr>
    <tr>
      <th>14</th>
      <td>1</td>
      <td>25</td>
      <td>-7.469</td>
    </tr>
    <tr>
      <th>15</th>
      <td>1</td>
      <td>89</td>
      <td>9.812</td>
    </tr>
    <tr>
      <th>16</th>
      <td>1</td>
      <td>50</td>
      <td>9.906</td>
    </tr>
    <tr>
      <th>17</th>
      <td>1</td>
      <td>102</td>
      <td>0.750</td>
    </tr>
    <tr>
      <th>18</th>
      <td>1</td>
      <td>103</td>
      <td>-5.000</td>
    </tr>
    <tr>
      <th>19</th>
      <td>1</td>
      <td>104</td>
      <td>2.938</td>
    </tr>
    <tr>
      <th>20</th>
      <td>1</td>
      <td>105</td>
      <td>2.000</td>
    </tr>
    <tr>
      <th>21</th>
      <td>1</td>
      <td>106</td>
      <td>-0.156</td>
    </tr>
    <tr>
      <th>22</th>
      <td>1</td>
      <td>107</td>
      <td>2.031</td>
    </tr>
    <tr>
      <th>23</th>
      <td>1</td>
      <td>108</td>
      <td>5.688</td>
    </tr>
    <tr>
      <th>24</th>
      <td>1</td>
      <td>109</td>
      <td>9.656</td>
    </tr>
    <tr>
      <th>25</th>
      <td>1</td>
      <td>87</td>
      <td>8.000</td>
    </tr>
    <tr>
      <th>26</th>
      <td>1</td>
      <td>93</td>
      <td>9.312</td>
    </tr>
    <tr>
      <th>27</th>
      <td>1</td>
      <td>76</td>
      <td>9.312</td>
    </tr>
    <tr>
      <th>28</th>
      <td>1</td>
      <td>65</td>
      <td>8.781</td>
    </tr>
    <tr>
      <th>29</th>
      <td>1</td>
      <td>72</td>
      <td>8.781</td>
    </tr>
    <tr>
      <th>30</th>
      <td>1</td>
      <td>27</td>
      <td>8.781</td>
    </tr>
    <tr>
      <th>31</th>
      <td>1</td>
      <td>36</td>
      <td>8.781</td>
    </tr>
    <tr>
      <th>32</th>
      <td>1</td>
      <td>119</td>
      <td>8.781</td>
    </tr>
    <tr>
      <th>33</th>
      <td>1</td>
      <td>120</td>
      <td>8.781</td>
    </tr>
    <tr>
      <th>34</th>
      <td>1</td>
      <td>35</td>
      <td>8.781</td>
    </tr>
    <tr>
      <th>35</th>
      <td>1</td>
      <td>53</td>
      <td>8.781</td>
    </tr>
    <tr>
      <th>36</th>
      <td>1</td>
      <td>91</td>
      <td>8.781</td>
    </tr>
    <tr>
      <th>37</th>
      <td>1</td>
      <td>83</td>
      <td>8.781</td>
    </tr>
    <tr>
      <th>38</th>
      <td>1</td>
      <td>32</td>
      <td>8.781</td>
    </tr>
    <tr>
      <th>39</th>
      <td>1</td>
      <td>121</td>
      <td>8.781</td>
    </tr>
    <tr>
      <th>40</th>
      <td>1</td>
      <td>123</td>
      <td>8.781</td>
    </tr>
    <tr>
      <th>41</th>
      <td>1</td>
      <td>29</td>
      <td>8.781</td>
    </tr>
    <tr>
      <th>42</th>
      <td>1</td>
      <td>31</td>
      <td>8.781</td>
    </tr>
    <tr>
      <th>43</th>
      <td>1</td>
      <td>66</td>
      <td>8.688</td>
    </tr>
    <tr>
      <th>44</th>
      <td>1</td>
      <td>69</td>
      <td>8.688</td>
    </tr>
    <tr>
      <th>45</th>
      <td>1</td>
      <td>54</td>
      <td>8.688</td>
    </tr>
    <tr>
      <th>46</th>
      <td>1</td>
      <td>127</td>
      <td>8.688</td>
    </tr>
    <tr>
      <th>47</th>
      <td>1</td>
      <td>128</td>
      <td>0.000</td>
    </tr>
    <tr>
      <th>48</th>
      <td>1</td>
      <td>42</td>
      <td>0.062</td>
    </tr>
    <tr>
      <th>49</th>
      <td>1</td>
      <td>80</td>
      <td>0.062</td>
    </tr>
    <tr>
      <th>50</th>
      <td>1</td>
      <td>49</td>
      <td>0.062</td>
    </tr>
    <tr>
      <th>51</th>
      <td>1</td>
      <td>62</td>
      <td>0.219</td>
    </tr>
    <tr>
      <th>52</th>
      <td>1</td>
      <td>34</td>
      <td>-0.250</td>
    </tr>
    <tr>
      <th>53</th>
      <td>1</td>
      <td>51</td>
      <td>0.062</td>
    </tr>
    <tr>
      <th>54</th>
      <td>1</td>
      <td>52</td>
      <td>0.062</td>
    </tr>
    <tr>
      <th>55</th>
      <td>1</td>
      <td>68</td>
      <td>-0.125</td>
    </tr>
    <tr>
      <th>56</th>
      <td>1</td>
      <td>81</td>
      <td>0.125</td>
    </tr>
    <tr>
      <th>57</th>
      <td>1</td>
      <td>61</td>
      <td>0.031</td>
    </tr>
    <tr>
      <th>58</th>
      <td>1</td>
      <td>26</td>
      <td>0.031</td>
    </tr>
    <tr>
      <th>59</th>
      <td>1</td>
      <td>92</td>
      <td>3.625</td>
    </tr>
  </tbody>
</table>
</div>

In [ ]:
positive=org_data[org_data['rating']>=5]
neg=org_data[org_data['rating']<5]
output='/Users/dong/PycharmProjects/boosting2block_fm/data/data_set/jester-2'
jester_2_train_5.to_csv('jester_2_train_5.dat',sep='|',index=None,header=None)
jester_2_test_5.to_csv('jester_2_test_5.dat',sep='|',index=None,header=None)